<div class="tabber">
	<div class="tabbertab">
		<h2></h2>
		<br />
		<img alt="aws" src="/images/logo_aws.gif" /><img alt="azure" src="/images/azure.jpeg" /><img alt="heroku" src="/images/heroku.png" />
		<br/>
		<h1>The backend design is still your problem.</h1>
	</div>
	<div class="tabbertab">
		<h2></h2>
		<br />
		<img alt="aws" src="/images/logo_aws.gif" /><img alt="azure" src="/images/azure.jpeg" /><img alt="heroku" src="/images/heroku.png" />
		<br/>
		<h1>You pay for more then what you use.</h1>
	</div>
	<div class="tabbertab">
		<h2></h2>
		<br />
		<img alt="aws" src="/images/logo_aws.gif" /><img alt="azure" src="/images/azure.jpeg" /><img alt="heroku" src="/images/heroku.png" />
		<br/>
		<h1>No offline synchronization support.</h1>
	</div>
	<div class="tabbertab">
		<h2></h2>
		<!--<br />
		<h3>Amazon Web Services, Windows Azure, Heroku<h3>-->
		<br/>
		<h1>We're here to change this.</h1>
	</div>
</div>





	




