<div class="tabber">
	<div class="tabbertab">
		<h2></h2>
		<br />
		<img alt="aws" src="/images/logo_aws.gif" /><img alt="azure" src="/images/azure.jpeg" /><img alt="heroku" src="/images/heroku.png" />
		<br/>
		<h1>The backend design is still your problem.</h1>
        
With other PaaS solutions, customer's are required to design, implement and maintain their own backend web services. At Vertex.IO, our webservers
are also scalable RESTful data services. We've embraced and extended the CouchDB API so that developers can focus on pieces
their customers can actually see and interact with. 
	</div>
	<div class="tabbertab">
		<h2></h2>
		<br />
		<img alt="aws" src="/images/logo_aws.gif" /><img alt="azure" src="/images/azure.jpeg" /><img alt="heroku" src="/images/heroku.png" />
		<br/>
		<h1>Why pay for more than you use?</h1>
        With other services, customers are expected to predict their resource requirements in advance. They're
also required to design and maintain their own backend web services while implementing their own offline 
client synchronization technologies.
    
        We measure the data coming in and the data going out. You 
only pay a low fixed rate per byte.
	</div>
	<div class="tabbertab">
		<h2></h2>
		<br />
		<img alt="aws" src="/images/logo_aws.gif" /><img alt="azure" src="/images/azure.jpeg" /><img alt="heroku" src="/images/heroku.png" />
		<br/>
		<h1>No offline synchronization support.</h1>

        Your customers have come to expect that their Apps are offline capable and synchronize with the cloud whenever 
        possible. At Vertex.IO, we provide the plumbing so you can focus on your business logic. 
	</div>
</div>





	




