section#why(role='main')
	a.anchor(name="aproblem") &nbsp;
	h2 The Problem
	article
		h2 Too Many Devices, Too Many Platforms.
		.body
			h3 Android, iOS, Windows Phone 7, Mac OS X, Windows, iPhone, iPad, ...
			p.
				This is the world we live in. The number of different platforms and mobile devices continues to grow. It's becoming incredibly expensive to target multiple mobile platforms with a unified user experience using native development frameworks.
	article
		h2 Backend Infrastructure is Hard to Get Right
		.body
			h3 Yet Another Language? Java, Python, Ruby, C++...
			p.
				The pieces your customers don't see are critically important. With other platform providers you need to design, implement and maintain your own data services. These skills are orthogonal to the expertise you'll require to create a rich mobile JavaScript/HTML5 client, yet you need both.
	article
		h2 How will you scale?
		.body
			h3 Scaling Requires Yet More Expertise
			p.
				Scaling to support your popularity will require significant expertise and investment. Knowing when to make this investment seems to require a crystal ball. Most platform services require that you predict and pay for the resources you require ahead of time.
	article.last
		h2 Offline Synchronization
		.body
			h3 Customers Expect Your App To Keep Working No Matter Where They Go.
			p.
				Your customer's expect to keep working when they enter the subway or fly in an airplane. They expect what they have entered to be waiting for them on their next device. They expect seamless synchronization with the cloud.
section#solution(role='main')
	a.anchor(name="asolution") &nbsp;
	h2 Our Solution
	article
		h2 Focus On HTML5
		.body
			h3 We'll take care of the REST
			p.
				At Vertex.IO, we understand designing, implementing and scaling webservices is a distraction. We know you'd rather be focusing on creating an immersive user experience for your customers. Our platform is a gigantic RESTful database that both serves your application and provides the database services your application needs to share and synchronize. You're required to write ZERO webservices for your app. We've got you covered.
	article
		h2 Scale Transparently
		.body
			h3 Scale Effortlessly
			p.
				Our software constantly monitors the demand for your application. As demand increases, we begin to replicate your data services across our platform. This happens completely transparently so that you can relax and focus on the parts of your app that customers interact with.
	article
		h2 Pay Only Per Use
		.body
			h3 Small Applications Are Free!
			p.
				At Vertex.IO, your success is our success. If your Application weighs in less than 10MB and transfers very little data each month, our platform is completely free. We know that popularity doesn't happen over night, but we're ready to scale when you are.
	article.last
		h2 Bit Charged
		.body
			h3 We Only Charge For The Bits
			p.
				You only pay for the bits going in, the bits being stored, and the bits going out. We constantly monitor the data services your App uses across our distributed database. You only get charged for what you transfer and store beyond the free monthly allotment.
