<!DOCTYPE html>
<html>
  <head>
    <title>Vertex.IO | Providing your Scalable Cloud </title>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/content.css' />
	<link rel='stylesheet' href='/stylesheets/tabs.css' />
	<script type="text/javascript" src="/javascripts/tabber.min.js"></script>
	<!--<link  href="http://fonts.googleapis.com/css?family=Monofett:regular" rel="stylesheet" type="text/css" >-->
  </head>
  <body>
	<div id="header">
		<h1><a href="/">vertex.io</a></h1>
		<!--
		<ul id="account-nav">
			<li><a href="login">My Account</a></li>
		</ul>-->
		<ul id="section-nav">
			<li><a href="us">The Team</a></li>
			<li><a href="pricing">Pricing</a></li>
			<li><a href="tech">The Tech</a></li>
			<li><a href="competition">The Competition</a></li>
			<li><a href="solution">Our Solution</a></li>
			<li><a href="why">The Problem</a></li>
		</ul>
		<div style="clear:both;"></div>
	</div>
	<div id="container">
		<%- body %>
	</div>
	<div id="footer"></div>
  </body>
</html>
