        <h2>Pay Only For What You Use</h2>
        
        <h3>
			Vertex.IO aggregates usage data across every instance in realtime. 
			<br/>
			You're charged for what you store remotely and the communication between
        your Application and Vertex.IO.
		</h3>

      <table style="text-align:left;margin:auto;" class="tan-table">
        <caption><h3>Tier based Usage Pricing</h3></caption>
		<br />
        <thead>
          <tr class="centered">
            <th></th>
            <th class="type">Example Pricing</th>
          </tr>
        </thead>
        <tbody class="body">
          <tr>
            <td class="tier">First 1 TB / month</td>
            <td class="price">$0.140 per GB</td>
          </tr><tr>
            <td class="tier">Next 49 TB / month</td>
            <td class="price">$0.125 per GB</td>
          </tr><tr>
            <td class="tier">Next 450 TB / month</td>
            <td class="price">$0.110 per GB</td>
          </tr><tr>
            <td class="tier">Next 500 TB / month</td>
            <td class="price">$0.095 per GB</td>
          </tr><tr>
            <td class="tier">Next 4000 TB / month</td>
            <td class="price">$0.080 per GB</td>
          </tr><tr>
            <td class="tier">Over 5000 TB / month</td>
            <td class="price">$0.055 per GB</td>
          </tr>
        </tbody>

      </table>
        
        <!--<h2>Data Storage</h2>
        
<div class="puretmpl"><div class="progress loading" style="display: none; "></div>
<div class="regions">
    <div class="content reg-us-east">

    </div></div>

        <h2>Moving Data In And Out</h2>
        
  <noscript>
    Sorry, pricing information requires JavaScript.
  </noscript>
<div class="regions">
    <div class="content reg-us-east">
      <table class="tan-table">
        <caption>US Standard</caption>
        <thead>
          <tr class="centered">
            <th></th>
            <th class="type">Pricing</th>
          </tr>
        </thead>
        <tbody class="body">
          <tr class="heading">
            <th colspan="2" class="type">Data Transfer IN</th>
          </tr>
          <tr class="tiers">
            <td class="tier">All data transfer in</td>
            <td class="price" style="text-align: center">$0.100 per GB</td>
          </tr>
        </tbody><tbody class="body">
          <tr class="heading">
            <th colspan="2" class="type">Data Transfer OUT</th>
          </tr>
          <tr class="tiers">
            <td class="tier">First 1 GB / month</td>
            <td class="price" style="text-align: center">$0.000 per GB</td>
          </tr><tr class="tiers">
            <td class="tier">Up to 10 TB / month</td>
            <td class="price" style="text-align: center">$0.150 per GB</td>
          </tr><tr class="tiers">
            <td class="tier">Next 40 TB / month</td>
            <td class="price" style="text-align: center">$0.110 per GB</td>
          </tr><tr class="tiers">
            <td class="tier">Next 100 TB / month</td>
            <td class="price" style="text-align: center">$0.090 per GB</td>
          </tr><tr class="tiers">
            <td class="tier">Greater than 150 TB / month</td>
            <td class="price" style="text-align: center">$0.080 per GB</td>
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>

        <h1>Communication Is Limited To What's Essential</h1>
        
        Synchronization with the cloud is completely configurable,
        only push that which your users wish to share, pay by the byte.<p>
        
        By default, every Vertex.IO application is a self-contained offline HTML5
        Web Application. Once the application has been loaded it gets cached locally, 
        reducing the bandwidth requirements of your application. This great for 
        protecting your customer's mobile data usage, and great for you App developers
        because you only pay for essential IO.<p> 

        <h1>Scale On Demand</h1>
        
        Vertex.IO continuously monitors the cloud based resources your application is consuming. 
        As demand grows, your cloud data is automatically replicated across our cloud transparently for 
        no additional charge.-->