<div class="tabber">
    <div class="tabbertab">
		<h2></h2>
		<br/>
		
		<h1>
			Focus On HTML5
		</h1>
		<h3>We'll take care of the REST</h3>

            At Vertex.IO, we understand designing, implementing and scaling 
    	webservices is a distraction. We know you'd rather be focusing creating an an immersive user experience
		for your customers. Our platform is a gigantic RESTful database that both serves your application and 
		provides the datasbase services your application
		needs share and synchronize. You're requried to write ZERO webservices for your app. We've got you covered. </p>
	</div>
	<div class="tabbertab">
		<h2></h2>
		<br/>
		
		<h1>
			Scale Transparently, Scale Effortlessly
		</h1>
        <p>
        Our software constantly monitors the demand for your application. As demand increases, be begin to replicate your data services
        across our platform. This happens completely transparently so that you can relax and focus the parts of your app that customers 
        interact with.<!-- better closing hook? -->
        <p>
	</div>
	<div class="tabbertab">
		<h2></h2>
		<br/>
		
		<h1>
			Pay Only For What You Use
		</h1>
        
        <h3>Small Applications Are Free!</h3>
    
        <p>At Vertex.IO your success is our success. If your Application weighs in at less 10MB and transfers very little data
        each month, our platform is completely free. We know that popularity doesn't happen over night, but we're ready to scale when you are.</p>

        <h3>We Only Charge For The Bits</h3>

        <p>You only pay for the bits going in, the bits being stored, and the bits going out. We constantly monitor the data services your App uses across our distributed database. You only get charged for what you transfer
        and store beyond the free monthly allotment.</p>

        


	</div>

</div>