
	<p>Our founders are a group of talented software architects and engineers that work together in the finance industry.
We've designed, implement and test high performance electronic trading services. Brought together by our passion for 
high-performance server-side javascript (NodeJS) and the belief that offline-capable HTML5 applications represent the 
future of  mobile 'App' development, we're working to make developers more productive and effective.</p>
<div class="person">
	<h2>Geoff Flarity</h2>
	<img src='/images/geoff.jpg' /><br />
	<!--Work:
	<ul>
		<li>Performance Tools and Architecture
		</li>
		<li>Software Developer at OANDA
		</li>
		<li>Perl Developer at Morgan Stanley
		</li>
		<li>Perl Developer at Compuware
		</li>
	</ul>Education:
	<ul>
		<li>University of Waterloo - Honours Bachelors Of Mathematics
		</li>
	</ul>-->
</div>
<div class="person">
	<h2>Steven Birk</h2>
	<img src='/images/steve-small.png' /><br />
 	<!--Work:
	<ul>
		<li>Software Developer at OANDA
		</li>
		<li>Summer Researcher at Kingston Software Factory
		</li>
		<li>Web Developer at Kingston Software Factory
		</li>
		<li>Junior Programmer Analyst at ThermDyne Technologies Ltd.
		</li>
	</ul>Education:
	<ul>
		<li>University of Toronto
		</li>
		<li>Queen's University
		</li>
	</ul>-->
</div>
<div class="person">
	<h2>Brian Watling</h2>
	<img src="/images/brian.jpg" /><br />
	<!--Work:
	<ul>
		<li>Software Developer at OANDA
		</li>
	</ul>Education:
	<ul>
		<li>University of Toronto
		</li>
	</ul>-->
</div>
<div style="clear:both;"></div>
