include LICENSE
include NOTICE
include README.rst
include THANKS
recursive-include couchapp/autopush/*
recursive-include couchapp/autopush/watchdog *
recursive-include couchapp/templates *
recursive-include tests/testapp *
recursive-include resources *
recursive-include doc *
