section#apps

  h1 Your Apps

  section#apps_new
    form(name='input', action='/create', method='get')
      input(type='hidden', name='command', value='generate')
      input(type='text', name='args', placeholder='enter app name')
      input(type='submit', value='create')

  section#apps_index
    ul(style='list-style-type: none;')
      - for(var i=0; i<apps.length; i++)
        li(style="list-style-type: none;text-align:left;")
          .icon 
            img(src="http://127.0.0.1:5984/#{myapps[i]}/_design/app/apple-touch-icon.png", width="34px", height="34px")
          .name #{myapps[i]}
      
          .side
            a.edit(href="/apps/#{myapps[i]}/edit") edit
            a.view(href="/apps/#{myapps[i]}/view") view