style
  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 100px;
    margin-left: -100px;
    margin-top: -50px;
  }
  .loading * {
    margin: 0 auto;
    text-align: center;
  }
  .loading .icon {
    background: url(/images/loading.gif) no-repeat;
    width: 36px;
    height: 36px;
    margin-bottom: 10px;
  }

div.loading 
  .icon
  div Signing In

script
  setTimeout('window.location="/apps"', 250)