hgroup#logo
  h1: a(href="#")= title
  h2 Making Mobile Development Easy.
nav
  a.top(href="#") <span>↑</span>top
  a(href="#aproblem") The Problem
  a(href="#asolution") Our Solution
  a(href="http://blog.vertex.io", rel="external") Blog
  a.signup(href="#signup") Sign Up