
address#about.col.vcard
	span.primary
		strong
			.fn.url Vertex.IO
	span.bio.
		Built with Node.js
	p Contact us at 
		a(href="mailto:support@vertex.io") support@vertex.io
.col.who
	h2 Who Are You Guys?
	p.
		Brought together by our passion for high-performance server-side javascript (NodeJS) and the belief that offline-capable HTML5 applications represent the future of mobile 'App' development, we're working to make developers more productive and effective.
	ul
		li: a#geoff(href="http://twitter.com/gflarity", rel="external") <span>&nbsp;</span> Geoff Flarity @gflarity
		li: a#steve(href="http://twitter.com/stevebirk", rel="external") <span>&nbsp;</span> Steven Birk @stevebirk
		li: a#brian(href="http://twitter.com/#brian-needs-twitter", rel="external") <span>&nbsp;</span> Brian Watling
		li: a#arwid(href="http://twitter.com/arwidb", rel="external") <span>&nbsp;</span> Arwid Bancewicz @arwidb
.col.connect
	h2 Stay in touch
	p We're on Twitter, and have a Blog. Check em out.
		ul
			li: a(href="http://twitter.com/vertexio", rel="external", class="twitter-follow-button", data-button="blue", data-text-color="#333", data-link-color="#333", data-show-count="false", data-align="left", data-width="150px")
				Follow @vertexio
			li: a(href="http://blog.vertex.io", rel="external") Vertex.IO Blog