!!! 5

//- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
//- https://github.com/paulirish/html5-boilerplate
//[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]
//[if IE 7]> <html class="no-js ie7 oldie" lang="en"> <![endif]
//[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]
//[if gt IE 8]><!
html(class='no-js', lang='en') 
	//<![endif]
	head!= partial('_head',{style_partial:'_stylesheets'})
	body.bp 
		#container
			header: div.cinner!= partial('_header')
			section#apps: div.cinner!= partial('_userapps')
			section#moreinfo: div.cinner!= partial('_moreinfo')
			footer: div.cinner!= partial('_footer')
		!= partial('_javascripts')