@font-face {
  font-family: 'Monofett';
  font-style: normal;
  font-weight: normal;
  src: local('Monofett'), url('/fonts/Monofett/Monofett.ttf');
}

#header {
    height:50px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

#header h1 {
  font-family: 'Monofett', serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1;
  padding: 0px;
  margin: 0px;
  float:left;
}

#header h1 a {
    text-decoration: none;
}

#header h1 a:visited {
    text-decoration: none;
    color: black;
}


#header li {
    list-style-type: none;
    float:right;
    vertical-align:middle;
}

#header ul#section-nav, #header ul#account-nav {
    list-style-type: none;
    display: inline;
    margin:0;
    padding:0;
    overflow:hidden;
}

#header #section-nav a, #header #account-nav a {
    /*width:9em;*/
    display:block;
    text-decoration:none;
    font-size: 14px;
    padding-left:10px;
    padding-right:10px;
    padding-top:16px;
    padding-bottom:16px;
    line-height: 1.2;
    font-weight: 80;
    text-align:center;
    color: black;
}

#header #section-nav a:hover, #header #account-nav a:hover {
    text-decoration: underline;
}

#header #section-nav a:visited, #header #account-nav a:visited {
    color:black;
}

#header #account-nav a, #header #account-nav a:visited, #header #account-nav a:hover {
    color: #333;
}

